<ul class="media-list">
	<% @users.each do |user| %>
	<li class="media well">	
		<div class="pull-right">
			<%= link_to participant_path(user) do %>
				<%= gravatar_image_tag user.email, gravatar: {size: 200} , class: "pull-right"%> 
			<% end %>
			<br>
			<p>Score: <%= user.score%></p>
			<p>Parts: <%= user.real_registrations.count %> / <%= user.fake_registrations.count %></p>
			<div class="progress">
					<div class="progress-bar progress-bar-success" style="width: <%=user.goodness%>%"></div>
  				<div class="progress-bar progress-bar-danger" style="width: <%=100-user.goodness%>%"></div>	
			</div>
		</div>
		<% user.attributes.each do |key,value| %>
			<% next if key.eql?("_id") %>
			<div class="media-body">	
				<h4 class="media-heading"><%= key %></h4>
				<%= value %>
			</div>
		<% end %>
	</li>
	<% end %>
</ul>