<div class="row">
<% @participants.each do |part| %>
	<div class="col-lg-12">
		<div class="col-lg-2">
			<%= image_tag "parti.jpg" %>
		</div>
		<div class="col-lg-4">
			<h3><%= part.uuid %></h3>
			<p><%= "#{part.name} #{part.surname}" %></p>
			<h4>Score: <%=part.records.sum(:score)%></h4>
		</div>
		<div class="col-lg-4">
			<p><%= part.meta%></p>
		</div>
	</div>
	<br>
<% end %>
</div>