<h3><%= "#{@participant.name.capitalize} #{@participant.surname.capitalize}" %> <small><%= @participant.email %></small></h3>

<div class="row">
  <div class="col-lg-3">
  <%= gravatar_image_tag @participant.email, gravatar: {size: 200}%>
  </div>
  <div class="col-lg-9">
    <form class="form-horizontal user-page">
      <% @participant.attributes.each do |key,value| %>
        <% next if key.eql?("_id") || key.empty? || key.eql?("was") %>	
          <div class="form-group">
            <label class="col-sm-3 control-label user-label"><%= key %></label>
              <div class="col-sm-9">
              <p class="form-control-static"><%= value %></p>
            </div>
          </div>
        <% end %>
    </form>
    <h4>Score in events</h4>
      <div id="events"></div>
    <h4>Score in categories</h4>
    <div id="categories"></div>
  </div>
</div>

<script>

  var categories = document.getElementById('categories');
  var events = document.getElementById('events');

  var cb = bonsai.run(categories, {
    url: '/assets/PieChart.js',
    code: function(){
      new PieChart({
        <% @participant.categories.each do |cat| %>
          '<%= cat["name"] %>': <%= cat["score"] %>,
        <% end %>
      })},
    height: 400,
    width: 700,
    framerate: 50
  });

  var eb = bonsai.run(events, {
    url: '/assets/BarChart.js',
    code: function(){
      new BarChart(80,20,{
        <% @events.each do |ev| %>
          '<%= "#{ev.name} #{ev.date.strftime("%Y-%m-%d")}" %>': <%= ev.score_for_participant(@participant.id) %>,
        <% end %>
      });
    },
    height: 80,
    framerate: 50
  });

  window.onresize = function() {
    categories.style.left = (window.innerWidth - 202)/2 - 350 + 'px';
    categories.style.top = window.innerHeight/2 - 200 + 'px';
  };

  window.onresize();

</script>