<%= form_for "participants[]", 
	url: set_categories_event_registrations_path(@event), 
	method: :patch do |f|
%>
	<div class='form-group'>
		<%= link_to 'Check all', '#', class: 'btn btn-default toggle' %>
		<%= f.button 'Ok', class: 'btn btn-success' %>
	</div>
	<div class='form-group'>	
		<%= label_tag 'Categories' %>
		<%= text_field_tag 'categories', nil, class: 'categories-select', 'data-tags' => @categories.to_json %>
	</div>
	<div class='form-group'>
		<%= label_tag 'Score' %>
		<%= number_field_tag 'score', 0, class: 'form-control' %>
	</div>
	<% @participants.each do |part| %>
		<div class="participant" id=<%= part.id %>>
			<%= check_box_tag "participants[]", part.id, false, style: 'visibility: hidden'%> 
			<%= gravatar_image_tag part.email, gravatar: {size: 100} %>
			<div class="participant-name"><%= "#{part.surname} #{part.name}" %></div>
		</div>
	<% end %>	
<% end %>
<script type="text/javascript">
	(function($){
		new App.ParticipantsCategorize({el: $('form')});
	})(jQuery)
</script>