<% @cats = Category.all %>
<% @registrations =  @event.registrations %>
<%= form_for "registrations[]", 
	url: set_categories_event_registrations_path(@event), 
	method: :patch, 
	html: {class: "form-horizontal"} do |f|
%>
	<table class="table">
		<thead>
			<th>
				<%= f.submit "Save",class: "btn btn-success pull-right" %>
			</th>
			<% for cat in @cats %>
				<th>
					<%= cat.name %>
					<%= number_field_tag "categories[#{cat.id}", nil , class: "form-control"%>
					<%= link_to "Check All", '#', class: "btn btn-default btn-small toggle", id: cat.id %>
				</th> 
			<% end %>
		</thead>
		<tbody>
			<% for reg in @registrations %>
				<tr>
					<td>
						<%= label_tag :registration,"#{reg.user.name} #{reg.user.surname} #{reg.user.email}", class: "col-lg-3 control-label" %>
					</td>
						<% @cats.each do |cat| %>
							<td>
								<%= check_box_tag "registrations[#{reg.id}][]", cat.id,false, class: "form-control" %>
							</td>
						<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
	
<% end %>
<script type="text/javascript">
	(function($){
		$(".toggle").on("click",function(event){
			event.preventDefault();
			$('input[type="checkbox"][value="'+this.id+'"]').click();
		})
	})(jQuery)
</script>