<% provide(:title, 'Import') %>

<div class="row">
  <div class="col-lg-3">
    <%= image_tag "blank.jpg", class: "img-responsive"%>
    <div class="event_name"><%= @event.name %></div>
    <table class="table">
      <tbody>
        <tr>
          <th>Place</th>
          <td><%= @event.place %></td>
        </tr>
          <th>Date</th>
          <td><%= @event.date.strftime("%Y-%m-%d") %></td>
        <tr>
        </tr>
          <th>Reals / Fakes</th>
          <td>
            <%= @event.real_registrations.count %> / 
            <%= @event.fake_registrations.count %>
          </td>
      </tbody>
    </table>
  </div>
  
  <div class="col-lg-9">
    <div class="navbar">
      <ul class="nav navbar-nav">
        <li><%= link_to "Log", @event%></li>
        <li><%= link_to "Stats", statistics_event_path(@event)%></li>
        <li><%= link_to "Registrations", event_registrations_path(@event) %></li>
      </ul>
      <%= link_to "Import",import_event_registrations_path(@event), class: "btn navbar-btn pull-right" %>
      <%= link_to "Categorize", categorize_event_registrations_path(@event), class: "btn navbar-btn pull-right" %>
    </div>
    <div class="row">
      <div class="col-lg-6 col-offset-3" id="forma"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function($){
    new App.RegistrationsImport({el: $("#forma"),event_id: '<%= @event.id %>'});
  })(jQuery);
</script>