<% provide(:title, 'Registrations') %>

<div class="row">
	<div class="col-sm-3">
		<%= image_tag "blank.jpg", class: "img-responsive"%>
		<div class="event_name"><%= @event.name %></div>
		<table class="table">
			<tbody>
				<tr>
					<th>Place</th>
					<td><%= @event.place %></td>
				</tr>
					<th>Date</th>
					<td><%= @event.date.strftime("%Y-%m-%d") %></td>
				<tr>
				</tr>
					<th>Reals / Fakes</th>
					<td>
						<%= @event.real_registrations.count %> / 
						<%= @event.fake_registrations.count %>
					</td>
			</tbody>
		</table>
	</div>
	
	<div class="col-sm-9">
		<nav class="navbar navbar-default" role="navigation">
			<ul class="nav navbar-nav">
		  	<li><%= link_to "Log", @event%></li>
		  	<li><%= link_to "Stats", statistics_event_path(@event)%></li>
		  	<li class="active"><%= link_to "Registrations", event_registrations_path(@event) %></li>
			</ul>
		  <%= link_to "Import",import_event_registrations_path(@event), class: "btn navbar-btn pull-right" %>
		  <%= link_to "Categorize", categorize_event_registrations_path(@event), class: "btn navbar-btn pull-right" %>
		</nav>
		<div>
			<%= form_for "registrations[]", url: set_was_event_registrations_path(@event), method: :patch do |f|%>
				<% for reg in @registrations %>
					<div>
						<%= check_box_tag "registrations[was][]", reg.id, reg.was %>
						<%= "#{reg.user.name} #{reg.user.surname} #{reg.user.email}" %>
					</div>
				<% end %>
				<%= f.submit "Save",class: "btn btn-success" %>
			<% end %>
		</div>
	</div>
</div>