<div class="col-sm-3">
  <% if event.photo.blank? %>
    <%= image_tag "blank.jpg", class: "img-responsive"%>
  <% else %>
    <%= link_to event.photo do %>
      <%= image_tag event.photo, class: "img-responsive"%>
    <% end %>
  <% end %>

  <div class="event_name">
    <%= event.name %>
    <%= link_to edit_event_path(event) do%>
      <span class="glyphicon glyphicon-cog"></span>
    <% end %>
  </div>

  <table class="table">
    <tbody>
      <tr>
        <th>Place</th>
        <td><%= event.place %></td>
      </tr>
      <tr>
        <th>Date</th>
        <td><%= event.date.strftime("%Y-%m-%d") %></td>
      </tr>
      <tr>
        <th>Reals / Fakes</th>
        <td>
          <%= event.participants.real.count %> / 
          <%= event.participants.fake.count %>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>