<% provide(:title, 'Import') %>
<div class="row">
	<div class="span6 offset3">
		<h1>Import form.csv to <%= @event.name %></h1>
		<%= form_for @event, url: {action: "parse"},method: "post", multipart: true do |f| %>
			<%= render 'layouts/error_messages', :object => f.object %>

			<%= label_tag :category %>
			<%= collection_select :category, :id, Category.all, :id, :name %> 

			<%= label_tag :score %>
			<%= number_field_tag :score %>

			<%= f.label :file %>
			<%= f.file_field :file , accept: "text/csv"%>

			<%= f.submit "Create", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>