<% provide(:title, 'Events') %>
<h1>Events <small><%=link_to "create",new_event_path, class: 'btn btn-success' %></small></h1>
<div class="row">
	<% @events.each do |event| %>
		<div class="col-sm-3">
			<div class="thumbnail">
			  <% if event.photo.blank? %>
	    		<%= image_tag "blank.jpg", class: "img-responsive"%>
	  		<% else %>
	    		<%= image_tag event.photo, class: "img-responsive"%>
	  		<% end %>
				<div class="caption">
					<h3><%= link_to event.name,event %></h3>
					<p>
						<%= event.date.strftime("%Y-%m-%d") %>
					</p>
					<p>
						<%= event.participants.count %>
					</p>
				</div>
			</div>
		</div>
	<% end %>
</div>