<% provide(:title, 'New event') %>
<div class="row">
	<div class="span6 offset3">
		<h1>New event</h1>
		<%= form_for @event, multipart: true do |f| %>
			<%= render 'layouts/error_messages', :object => f.object %>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :date %>
			<%= f.date_field :date %>

			<%= f.submit "Create", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>