<% provide(:title, "#{@event.name}") %>

<div class="row">
	<%= render "events/event_face", event: @event %>
	
	<div class="col-sm-9">
		<nav class="navbar navbar-default" role="navigation">
			<ul class="nav navbar-nav">
		  	<li class="active"><%= link_to "Log", @event%></li>
		  	<li><%= link_to "Registrations", event_registrations_path(@event) %></li>
			</ul>
			<%= link_to "Import",import_event_registrations_path(@event), class: "btn navbar-btn pull-right" %>
			<%= link_to "Categorize", categorize_event_registrations_path(@event), class: "btn navbar-btn pull-right" %>
		</nav>
		<div>
			<table class="table table-hover">
				<thead>
				  <tr>
						<th>email</th>
						<th>categories</th>
					</tr>
				</thead>
				<tbody>
					<% @participants.each do |part| %>
						<tr <%= 'class=danger' unless part.was?  %>>
							<td><%= link_to part.email, participant_path(part), class: "no-color" %></td>
							<td>
								<% part.categories.each do |cat| %>	
									<span class="badge"><%= "#{cat.name} : #{cat.score}" %></span>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>