<h1>Event <%= @event.name %></h1>
<p>At : <%= @event.date %></p>
<%= link_to "Import",new_event_participation_import_path(@event), class: "btn btn-success" %>
<%= link_to "Statistics", statistics_event_path(@event), class: "btn btn-default" %>
<h4>Count of users <small><%= @event.users.count %> </h4>
<div class="span12">
			<table class="table">
				<thead>
				    <tr>
						<th>uuid</th>
						<th>event</th>
						<th>category</th>
						<th>score</th>
					</tr>
				</thead>
				<tbody>
					<% @participations.each do |line| %>
						<tr>
							<td><%= User.find(line.user_id).email %></td>
							<td><%= Event.find(line.event_id).name %></td>
							<td><%= Category.find(line.category_id).name %></td>
							<td><%= line.score %></td>	
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>