<% provide(:title, "#{@event.name}") %>

<div class="row">
	<%= render "events/event_face", event: @event %>
	
	<div class="col-lg-9">
		<nav class="navbar navbar-default" role="navigation">
			<ul class="nav navbar-nav">
		  	<li class="active"><%= link_to "Log", @event%></li>
		  	<li><%= link_to "Stats", statistics_event_path(@event)%></li>
		  	<li><%= link_to "Registrations", event_registrations_path(@event) %></li>
			</ul>
		  <%= link_to "Import",import_event_registrations_path(@event), class: "btn navbar-btn pull-right" %>
		  <%= link_to "Categorize", categorize_event_registrations_path(@event), class: "btn navbar-btn pull-right" %>
		</nav>
		<div>
			<table class="table table-hover">
				<thead>
				  <tr>
						<th>email</th>
						<th>category</th>
						<th>score</th>
					</tr>
				</thead>
				<tbody>
					<% @participations.each do |part| %>
						<tr <%= 'class=danger' unless part.registration.was  %>>
							<td><%= part.user.email %></td>
							<td><%= part.category.name %></td>
							<td><%= part.score %></td>	
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>