<% provide(:title, "#{@event.name} statistic") %>

<div class="row">
	<div class="col-lg-3">
		<%= image_tag "blank.jpg", class: "img-responsive"%>
		<div class="event_name"><%= @event.name %></div>
		<table class="table">
			<tbody>
				<tr>
					<th>Place</th>
					<td><%= @event.place %></td>
				</tr>
					<th>Date</th>
					<td><%= @event.date.strftime("%Y-%m-%d") %></td>
				<tr>
				</tr>
					<th>Reals / Fakes</th>
					<td>
						<%= @event.real_registrations.count %> / 
						<%= @event.fake_registrations.count %>
					</td>
			</tbody>
		</table>
	</div>
	
	<div class="col-lg-9">
		<nav class="navbar navbar-default" role="navigation">
			<ul class="nav navbar-nav">
		  	<li><%= link_to "Log", @event%></li>
		  	<li class="active"><%= link_to "Stats", statistics_event_path(@event)%></li>
		  	<li><%= link_to "Registrations", event_registrations_path(@event) %></li>
			</ul>
		  <%= link_to "Import",import_event_registrations_path(@event), class: "btn navbar-btn pull-right" %>
		  <%= link_to "Categorize", categorize_event_registrations_path(@event), class: "btn navbar-btn pull-right" %>
		</nav>
		<div>
			UNDEFINED
		</div>
	</div>
</div>