<% provide(:title, 'Import') %>
<div class="row">
	<div class="col-lg-6 col-offset-3">
	<%= form_for [@event,@import], html: {class: "form-horizontal"} do |f| %>
		<%= render 'layouts/error_messages', :object => f.object %>
		<fieldset>
			<legend>New event</legend>
			<div class="form-group">
				<%= label_tag :category, nil, class: "col-lg-2 control-label" %>
				<div class="col-lg-10">
					<%= collection_select :category, :id, Category.all, :id, :name,{} ,{class: 'form-control'} %> 
				</div>
			</div>
			<div class="form-group">
				<%= label_tag :score, nil, class: "col-lg-2 control-label" %>
				<div class="col-lg-10">
					<%= number_field_tag :score,nil, class: 'form-control' %>
				</div>
			</div>
			<div class="form-group">
				<%= f.label :file, class: "col-lg-2 control-label" %>
				<div class="col-lg-10">
					<%= f.file_field :file %>
					<br>
					<%= f.button "Create", class: "btn btn-default" %>
				</div>
			</div>
		</fieldset>
	<% end %>
	</div>
</div>