<div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".bar">
  	<span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
  	<span class="icon-bar"></span>
  	<span class="icon-bar"></span>
  </button>
  <%= link_to 'Community',root_path, class: 'navbar-brand' %> 
</div>

<nav class="collapse navbar-collapse bar" role="navigation">
	<ul class="nav navbar-nav">
		<li><%= link_to 'Events',events_path%></li>
		<li><%= link_to 'Participants', participants_path%></li>
    <li><%= link_to 'Activity', activity_participants_path%></li>
    <li><%= link_to 'Top', activity_participants_path%></li>
		<li><%= link_to 'Categories', categories_path %></li>
    <li><%= link_to 'Statistic',stats_events_path%></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li>
      <% if owner_signed_in? %>
        <%= link_to destroy_owner_session_path, :method => :delete do%>
          <span class="glyphicon glyphicon-off"></span>
        <% end %>
      <% else %>
        <%= link_to 'Sign in', new_owner_session_path %>
      <% end %>
    </li>
	</ul>
</nav>