<!DOCTYPE html>
<html>
<head>
  <title>SummaryApp | <%= yield(:title) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <%= render 'layouts/header' %>
    </div>
  </header>
  <div class="container">
    <% flash.each do |key, value| %>
    <% key = :success if key == :notice %>
    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>

    <%= yield %>
    
  </div>
</body>
</html>
